.homeBody{
    height: 100%;
    width: 100%;
    z-index: -100000;
}
.homeNav{
    height:50px;
    width:100%;
    background-color: #2572a4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.leftNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.navBtn{
    background-color: #2678ad;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    margin-left: 14px;
}
.navTitle{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: white;
    margin-left: 5px;
}
.navLogo{
    object-fit: cover;
    width: 15px;
}
.rightNav{
    width:42px;
    height:32px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 12px;
}
.rightNavLogo{
    object-fit: cover;
    width: 27px;
}
.navPane{
    position:absolute;
    width: 100%;
    height: 214.44px;
    z-index: -1;
    top:0px;
    background-color: #2572a4;
    transform: translateY(-164px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navPane[data-visibility="true"] {
    transform: translateY(51px);
    transition: transform 300ms ease-in-out;
}
.rightNav[data-visibility="true"] {
    background-color: aliceblue;
}
.navPane[data-visibility="false"] {
    transition: transform 300ms ease-out;
}
.navPaneImg{
    width: 100px;
    height:100px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 171, 171);
    margin-top: 20px;
}
.navPaneImgi{
    object-fit: cover;
    width:80px;
}
.navPaneDetails{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 700;
    margin-top: 24px;
}
.navPaneBtn{
    width: 214px;
    height: 30px;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    margin-top: 5px;
    font-size: 12px;
}
.homeContent{
    background-color: #ecf0f1;
    height:95%;
    z-index:-100;
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow:hidden;

}
.contentImg{
    position: relative;
    width: 330px;
}