.MainPageBody{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ecf0f1;
}
.headerBody{
    background-color: #2980B9;
    height: 7.5vh;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 50px;
    width: 170px;
}
.headerTitle{
    font-size: 24px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    
}
.headerComp{
    padding-left: 4%;
    display: flex;
    align-items: center;
    padding-right: 4%;
}
.contentBody{
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}
.contentBox{
    background-color: white;
    border-radius: 2%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    margin-top: 20px;
}
.boxHeader{
    height:34.5px;
    border-top: #2980B9 solid 3px;
    border-bottom: #ecf0f1 solid 1px;
    border-radius: 2%;
    font-weight:500;
    font-size: 16px;
    letter-spacing:-0.1px;
    font-style: normal;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.boxHeaderTitle{
    padding-left: 15px;
}
.boxBody{
    border-bottom: #ecf0f1 solid 1px;
    height:50.19px;
    color: #2980B9;
    font-weight:600;
    font-style: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.boxBodyTitle{
    padding-left: 10px;
}
.buttonBody{
    display: flex;
    height:49px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: flex-end;
}
.boxButton{
    background-color: #2980B9;
    width: 106.42px;
    height: 31.14px;
    color: white;
    border: black 0.2px solid;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
}
.filler{
    height:20px
}